<%= form_for @duck do |f| %>
    Name: <%= f.text_field :name %>
    Description: <%= f.text_field :description %>
    Student: <%= f.collection_select :student_id, Student.all, :id, :name %>
    <% if @duck.errors.any? %>
    <ul>
      <% @duck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
    <%= f.submit %>
<% end %>