<h1>Create a New Duck</h1>

<%= form_for @duck do |d| %>
<%= d.label :name %>
<%= d.text_field :name %><br>
<%= d.label :description %>
<%= d.text_field :description %><br>
<%= collection_select(:duck, :student_id,Student.all,:id, :name) %>

<%= d.submit%>

<% end %>